# Files to be ignored in the entire Repo.
# Note- Since this repo is a collection of projects,
# each project has a .gitignore in its own root folder 

# Folders #
.metadata

# Compiled source #
*.com
*.class

